///MODAL
.modal-content {
	border-radius: 0;
	.modal-header {
		background: #f0f0f0;
		border-bottom: 1px solid #e0e0e0;
		padding: 10px 15px;
		.modal-title {
			width: 100%;
			font-family: $ptsans;
			color: $black;


		}
	}
	.modal-footer {
		border-top: 1px solid #e0e0e0;
		background: #f0f0f0;
		padding: 10px 15px;
	}
	.close {
		background: $white;
		padding: 0;
		margin:0;
	}
}
.log-text {
	height: 150px;
	overflow-y: scroll;
	width:100%;
}
.session-id {
	font-size: 1rem;
}


////FORMS
.btn {
	border-radius: 0;
}
.alert-dismissible {
	margin-bottom: 50px;
}
.quality-holder {
	position: relative;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	select {
	  border: 1px solid;
	  border-radius: 2px;
	  @include linearGradient($primaryaction-button-top, $primaryaction-button-bottom);
	  border-color: $primaryaction-button-border;
	  padding: 5px 35px 5px 5px;
	  font-size: 16px;
	  font-weight: 700;
	  height: 34px;
	  -webkit-appearance: none;
	  appearance: none;
	  color: $white;
	  width: 100%;
	  option {
		  color: red;
	  }
	}
	&::after {
  		content: " ";
  		background: $dark-blue;
  		width: 1px;
  		height: 32px;
	    pointer-events: none;
	    position: absolute;
	    right: 30px;
	    top: 1px;
  	}
  	&::before {
  		content: "\f0d7";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-size: 16px;
	    color: $white;
	    pointer-events: none;
	    position: absolute;
	    right: 10px;
	    top: 6px;
  	}
}
textarea
{
  width:100%;
  padding:8px;
}
.tab-pane {
	padding: 20px 10px;
}
.tab-content {
	border: 1px solid #ccc;
	width: 100%;
}
.nav-link {
    padding: .3rem 1rem;
}
.nav-tabs .nav-link.active {
    color: $white;
    /* @include linearGradient($header-top, $header-bottom );*/
    background: #1A75BB;
    border-color: #1A75BB;
    border-radius: 0;
}
.nav-tabs .nav-link {
    color: #084FAB;
    @include linearGradient($bigfriendly-button-top, $bigfriendly-button-bottom );
    border-color: $dark-blue;
    border-radius: 0;
    &.disabled {
    	@include linearGradient($disabled-top, $disabled-bottom);
    	border-color: $disabled-border;
    	color: $disabled-text;
    }
}
.settings-input {
	height: 32px;
	border-radius: .25rem;
}
.button-row {
	margin-bottom: 15px;
}


////TABLES
.bootstrap-table {
	margin-bottom: 30px;
}
.fixed-table-container {
	overflow: hidden;
}
.bootstrap-table .table thead>tr>th {
	vertical-align: baseline;
}
.fixed-table-toolbar {
	display: none;
}
.action {
	text-align: center;
	.edit{
		margin-right: 10px;
		padding:5px 7px;
		font-size: 14px;
		@extend .btn-gray;
		border-radius: 3px;
	}
	.trash {
		padding:5px 7px;
		font-size: 14px;
		@extend .btn-gray;
		border-radius: 3px;
	}
}
.th-inner {
	
}
.fht-cell {
	.filterControl {
		position: relative;
		input,
		select.form-control:not([size]):not([multiple]) {
			padding-left: 30px;
			height: 30px;
		}
		i {
	  		font-size: 16px;
	  		color: $search-icon;
	  		pointer-events: none;
	  		position: absolute;
	  		left: 8px;
	  		top: 8px;

		}
	}
}

////LISTS
.filter-control {
	position: relative;
	padding:10px 0;
	input {
		padding-left:30px;
		border-radius: 0;
	}
	&::before {
	    content: "\f002";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-size: 16px;
	    color: #aeadad;
	    pointer-events: none;
	    position: absolute;
	    left: 8px;
	    top: 17px;
	}
	&.title-inline {
		padding:0 0 10px 0;
		&::before {
			top:8px;
		}
	}
}
.form-control {
	border: 1px solid $list-border;
}
.choose-list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid $list-border;
    margin-bottom: 30px;
    height: 162px;
    overflow-y: scroll;
    
    &.list-selectable {
    	li {
    		a {
    			position: relative;
    			padding-left: 35px;
    			input.checkbox {
				    position: absolute;
				    top: 9px;
				    left: 10px;
				}
				label {
					margin:0;
					display: block;
				}
				.file_count {
					position: absolute;
					right:10px;
					top:3px;
				}
			}
    	}
    }
}
.select-all-control,
.inline-control {
	display: inline-block;
}
.select-all-control {
	width:70px;
	.select-format, 
	.select-type {
		margin-right: 5px;
		margin-left:10px;
	}
}
.inline-control {
	width: calc(100% - 75px);
}


.choose-list li a {
    margin-top: -1px; 
   	padding: 3px 12px;
    text-decoration: none; 
    font-size: 18px; 
    color: $list-items; 
    display: block; 
}

.choose-list li a:hover:not(.header) {
    background-color: $list-highlight;
}