$nprogress_color: #12BB00; 

.hidden {
    display: none;
}

body #nprogress {
    .bar {
        z-index: 99999;
        height: 4px;
        background: $nprogress_color;
    }

    &:after {
        content: "";
        width: 100%;
        position: fixed;
        background: #E9E9E9;
        height: 4px;
        top: 0;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }

    .peg {
        display: none;
    }

    .spinner {
        left: 15px;
    }

    .spinner-icon {
        border-top-color: $nprogress_color;
        border-left-color: $nprogress_color;
        border-width: 4px;
    }
}


body .swal-modal {
    width: 800px;
}

body #upload_session_date {
    &::-webkit-calendar-picker-indicator{
        color: rgba(255,255,255,0);
        background-color: rgba(255,255,255,0);
        width: 10px;
        height: 21px;
        right: -3px;
        position: relative;
    }
    &:hover::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
    &::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
 
    width: 500px;
    height: 20px;
    text-align: center;

    &::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    &::before {
        content: attr(value) "/" attr(max)
    }

    &::after {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        border-radius: 100%;
        right: 7px;
        top: 7px;
        background-color: white;
    }
}

#user_table, #upload_monitor_table, #download_monitor_table, .fixed-table-container {
    .filter-control {
        padding: 0 4px 4px 4px;
        input {
            padding: .125rem .75rem .125rem 30px;
            border-radius: .25rem;
        }
        select {
            height: 1.875rem;
            padding: 0 0.25rem 0 1.5rem;
        }
        &::before {
            left: 11px;
            top: 4px;
        }
    }
	
}
.log-text {
    overflow: auto;
    height: auto;
    max-height: 55vh;
}
.log-text p {
    margin: 0;
}
#additional-upload-fields {
    width: 100%;
    margin-bottom: 15px;
}
.project-subjects-holder {
    display: none;
}
#found_sessions {
    td.break-all {
        word-break: break-all;
    }
}
.modal-xl {
    @include breakpoint(minw1201) {
		max-width: 1115px;
	}
	@include breakpoint(w1200) {
		max-width: 96%;
	}
    
}

.ui-pnotify.stack-bar-bottom {
    margin-left: 15%;
    right: auto;
    bottom: 0;
    top: auto;
    left: auto;
}
.ui-pnotify-sticker {
    font-size: 80%;
    margin-right: 10px;
    line-height: 200%;
}
.ui-pnotify-icon {
    margin-top: .3em;
}
.brighttheme-icon-error:after {
    left: -3px;
    top: 2px;
}
.brighttheme-icon-closer:after, 
.brighttheme-icon-info:after, 
.brighttheme-icon-notice:after, 
.brighttheme-icon-sticker:after, 
.brighttheme-icon-success:after {
    left: 5px;
}

body>.ui-pnotify {
    z-index: 9999;
}

.bootstrap-tagsinput {
    border-color: #aaa;

    &.focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
    }
}