<template class="task-template">
    <section id="login-section" class="section js-section u-category-native-ui">
        <div class="container-fluid">
        <div class="row">
            <div class="logo col-md-5">
                <img src="assets/images/xnat_logo.svg"/>
                <div class="intro-text noselect">
                <p>Thank you for using the XNAT Desktop Transfer Manager. If you need help uploading or downloading files, please visit our documentation. <br><br>
                <a href="https://wiki.xnat.org/xnat-tools/dxm" target="_blank" class="btn btn-blue">Documentation</a></p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                <div class="col"></div>
                    <div class="col-10">
                    <h2 class="login-title">Log in:</h2>
                    <button class="connect btn btn-bigfriendly btn-lg btn-block" type="button" data-toggle="modal" data-target="#login"><span class="plus"></span><span class="db"></span> ADD NEW XNAT SERVER</button>
                        <div id="known-users">
                            <!--<button data-username="darko" data-server="https://xw2017-01.xnat.org" class="connect btn btn-known-user btn-lg btn-block" type="button" data-toggle="modal" data-target="#login"><img src="assets/images/xnat-avatar.jpg" /><div >XNAT Central</br><span class="user-name">User: darko</span></div></button>
                            <button data-username="marko" data-server="https://xw2017-01.xnat.org" class="connect btn btn-known-user btn-lg btn-block" type="button" data-toggle="modal" data-target="#login"><img src="assets/images/xnat-avatar.jpg" /><div >XNAT Central</br><span class="user-name">User: marko</span></div></button>-->
                        </div>
                        
                        <!-- <a href="connection-settings.php" class="connect btn btn-bigfriendly btn-lg btn-block"><span class="plus"></span><span class="db"></span> ADD NEW XNAT SERVER</a> -->
                        
                        <br><br><br>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
        
        <!-- Modal 
        <div class="modal fade" id="known-user-login" tabindex="-1" role="dialog" aria-labelledby="known-user-loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">User login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                            </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Enter password for user Will:</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" type="button" data-dismiss="modal" data-toggle="modal" data-target="#login">New User</button>
                        <button type="button" class="btn btn-darkblue" data-dismiss="modal">Login</button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form action="" id="loginForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">User login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger text-center hidden" id="login_feedback" role="alert">
                                <h2 class="red-title"><i class="fas fa-exclamation-triangle"></i> Login failed !</h2>
                                <span id="login_error_message"></span>
                            </div>
                            
                                <div class="form-group">
                                    <label for="server" class="col-form-label">Server:</label>
                                    <input type="text" class="form-control" name="server" id="server" placeholder="xnat.server.url" required>
                                </div>
                                <div class="form-check text-right">
                                    <input class="form-check-input" type="checkbox" value="" name="allow_insecure_ssl" id="allow_insecure_ssl">
                                    <label class="form-check-label" for="allow_insecure_ssl">
                                        Allow unverified certificates
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control" name="username" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-form-label">Password:</label>
                                    <input type="password" class="form-control" name="password" id="password">
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="remove_login" class="btn btn-link mr-auto">Remove From List</button>
                            <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-blue">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <script type="text/javascript">
            require('./renderer-process/login')

            //$('#login-section').trigger('page:load');
            Helper.pageLoadTrigger('#login-section'); 
        </script>
        
    </section>
</template>