<template class="task-template">
    <section id="progress-section" class="section js-section u-category-native-ui">
        <div class="container">
            <h2 class="main-title">Progress Monitor</h2>
            <div class="row hidden">
                <div class="col"></div>
                <div class="col-10">
                    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        <h2 class="red-title"><i class="fas fa-minus-circle"></i> Warning upload / download session failed !</h2>
                        Upload / Download for user (user name) on server (server) failed.</br>
                        Please check your monitor/log for details.
                    </div>
                </div>
                <div class="col"></div>
            </div>


            <div class="row">
                <div class="col button-row">
                    <button type="button" class="btn btn-gray js_pause_all"><i class="far fa-pause-circle"></i> Pause All</button>
                    <button type="button" class="btn btn-gray js_cancel_all_transfers"><i class="far fa-times-circle"></i> Cancel All</button>
                    <button type="button" class="btn btn-gray js_restart_all_transfers"><i class="fas fa-redo"></i> Restart All Canceled</button>
                    <button type="button" class="btn btn-gray js_clear_finished"><i class="far fa-trash-alt"></i> Clear Completed Transfers</button>
                </div>
            </div>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-download-tab" data-toggle="tab" href="#nav-download" role="tab" aria-controls="nav-download"
                        aria-selected="true">Download Progress</a>
                    <a class="nav-item nav-link" id="nav-upload-tab" data-toggle="tab" href="#nav-upload" role="tab" aria-controls="nav-upload"
                        aria-selected="false">Upload Progress</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">
                    <table class="table table-bordered filtered-table" id="download_monitor_table"></table>
                </div>
                <div class="tab-pane fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
                    <table class="table table-bordered filtered-table" id="upload_monitor_table"></table>
                    <button data-href="upload.html" type="button" class="btn btn-gray"><i class="fas fa-upload"></i> Upload a New Session</button>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="error-log--download" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Error log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="log-text">
                            ..
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-blue">Save log as TXT</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="error-log--upload" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Error log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="log-text">
                            ..
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-blue">Save log as TXT</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="success-log" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Transfer log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="log-text">
                            Log text...
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-blue" data-save-txt>Save log as TXT</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="upload-success-log" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Transfer log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <h4>Upload success!</h4>
                        <div class="log-text">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button id="upload-details-link" type="button" class="btn btn-blue" data-dismiss="modal" 
                            data-toggle="modal" 
                            data-target="#upload-details"
                            data-id=""
                            data-session_label="">View Log</button>
                        <button type="button" class="btn btn-blue" data-save-txt>Save log as TXT</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="upload-details-old" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Session transfer details <br> <span class="session-id">001012_mr_v1</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="process-details">
                            <table class="table table-bordered" id="table" data-toggle="table" data-click-to-select="true">
                                <thead>
                                    <tr>
                                        <th data-field="scan-type" data-sortable="true">Scan Type</th>
                                        <th data-field="series-number" data-sortable="true">S/N</th>
                                        <th data-field="upload-progress">Upload Progress</th>
                                        <th data-field="file-count" data-sortable="true">File Count</th>
                                        <th data-field="size" data-sortable="true">Size (bytes)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>97841</td>
                                        <td>
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:25px;">
                                                <span class="sr-only">In progress</span>
                                            </div>
                                        </td>
                                        <td>8</td>
                                        <td>1.19 MB</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>97842</td>
                                        <td>
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:25px;">
                                                <span class="sr-only">In progress</span>
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>1.12 MB</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>97843</td>
                                        <td>
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%; height:25px;">
                                                <span class="sr-only">In progress</span>
                                            </div>
                                        </td>
                                        <td>5</td>
                                        <td>1.10 MB</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>97844</td>
                                        <td>
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%; height:25px;">
                                                <span class="sr-only">In progress</span>
                                            </div>
                                        </td>
                                        <td>7</td>
                                        <td>1.11 MB</td>
                                    </tr>
                                    <tr>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>97845</td>
                                        <td>
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%; height:25px;">
                                                <span class="sr-only">In progress</span>
                                            </div>
                                        </td>
                                        <td>8</td>
                                        <td>1.13 MB</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                Estimated time left: 3min 45sec <br/> Transfer rate: 100KB/sec
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" disabled>Go to summary</button>
                        <button type="button" class="btn btn-blue"><i class="far fa-pause-circle"></i> Pause</button>
                        <button type="button" class="btn btn-blue"><i class="far fa-stop-circle"></i> Stop</button>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="download-details" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Session transfer details <br> <span class="session-id">File: <span id="file_basename">-</span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="process-details">
                            
                            <table class="table table-bordered filtered-table" id="download-details-table"></table>

                            <p>
                                Transfer rate: <span id="download_rate">-</span>
                                <!-- (Total: <span id="download_time">-</span>, <span id="download_size">-</span>) -->
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--
                        <button type="button" class="btn btn-blue js_pause_download"><i class="far fa-pause-circle"></i> Pause</button>
                        <button type="button" class="btn btn-blue js_cancel_download"><i class="far fa-stop-circle"></i> Cancel Download</button>
                        -->
                        <button type="button" class="btn btn-gray" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="upload-details" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Session transfer details <br> <span class="session-id">Session: <span id="session_label">-</span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="process-details">
                            
                            <table class="table table-bordered filtered-table" id="upload-details-table"></table>

                            <p>
                                Transfer rate: <span id="upload_rate">-</span>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-blue js_pause_upload"><i class="far fa-pause-circle"></i> Pause</button>
                        <button type="button" class="btn btn-blue js_cancel_upload"><i class="far fa-stop-circle"></i> Cancel Upload</button>
                        <button type="button" class="btn btn-gray" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>



        <script type="text/javascript">
            require('./renderer-process/progress');
            Helper.pageLoadTrigger('#progress-section');
        </script>

    </section>
</template>