<template class="task-template">
    <section id="settings-section" class="section js-section u-category-native-ui">
        <div class="container">
            <h2 class="main-title">Desktop Client Settings</h2>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                        aria-selected="true">Connection Settings</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Application Defaults</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-6">
                            <p>Manage your saved XNAT server connections here. You can store multiple user accounts per server,
                                but you cannot store passwords.
                            </p>
                        </div>
                        <div class="col-6 text-right">
                            <button class="connect btn btn-bigfriendly settings-small" type="button" data-toggle="modal" data-target="#user_connection">
                                <span class="plus"></span>
                                <span class="db"></span> ADD NEW XNAT SERVER</button>
                        </div>
                    </div>

                    <table class="table table-bordered filtered-table" id="user_table"></table>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <form>
                        <div class="form-group">
                            <label>Set Local Storage</label>
                            <br/>
                            <div class="input-group row">
                                <div class="col-7">
                                        <input type="text" id="default_local_storage" value="" class="form-control settings-input" readonly>
                                </div>
                                
                                <div class="col-3">
                                    <label class="input-group-btn">
                                        <span class="btn btn-blue">
                                            Browse
                                            <input type="file" id="file_default_local_storage" style="display: none"
                                                webkitdirectory directory>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <small>Select a local or networked folder that all downloads will save to.</small>
                        </div>
                    </form>
                    
                    <form>
                        <div class="form-group">
                            <label>Set Notification Email</label>
                            <br/>
                            <div class="input-group row">
                                <div class="col-7">
                                        <input type="email" name="default_email_address" id="default_email_address" class="form-control settings-input">
                                </div>
                                
                                <div class="col-3">
                                    <button class="btn btn-blue" id="save_default_email_address" disabled>Save</button>
                                </div>
                            </div>
                            <small>Enter a default email where application notifications can be sent to. (Optional)</small>
                        </div>
                    </form>

                    <form>
                        <div class="form-group">
                            <label>Set default PET tracers</label>
                            <br/>

                            <div class="input-group row">
                                <div class="col-7">
                                    <input type="text" data-role="tagsinput" name="default_pet_tracers" id="default_pet_tracers" class="form-control settings-input">
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-blue" id="save_default_pet_tracers" disabled>Save</button>
                                </div>

                            </div>
                            
                            <small>Enter default PET tracers. (Optional)</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- Modal -->
    <div class="modal fade" id="user_connection" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="loginTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <form action="" id="userForm">
                    <input type="hidden" name="old_server" id="old_server" value="">
                    <input type="hidden" name="old_username" id="old_username" value="">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">User login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger text-center hidden" id="login_feedback" role="alert">
                            <h2 class="red-title">
                                <i class="fas fa-exclamation-triangle"></i> Login attempt failed!</h2>
                            <span id="login_error_message"></span>
                        </div>

                        <div class="form-group">
                            <label for="server" class="col-form-label">Server:</label>
                            <input type="text" class="form-control" name="server" id="server" placeholder="xnat.server.url" required>
                        </div>
                        <div class="form-check text-right">
                            <input class="form-check-input" type="checkbox" value="" name="allow_insecure_ssl" id="allow_insecure_ssl">
                            <label class="form-check-label" for="allow_insecure_ssl">
                                Allow unverified certificates
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" id="remove_login" class="btn btn-link mr-auto">Remove From List</button> -->
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-blue">Verify and Save connection</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        require('./renderer-process/settings')

        //$('#settings-section').trigger('page:load');
        Helper.pageLoadTrigger('#settings-section');

    </script>
</template>